<!DOCTYPE html>
<html lang="en">
<head>
  <title>HOMEPAGE</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="Homecss.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body class="body">
<div class="home">
<div class="container mt-3" >
  <h5>Society for Computer Technology and Research's</h5>
  <h2>PUNE INSTITUTE OF COMPUTER TECHNOLOGY</h2>
  <h6>AFFILIATED TO SPPU | AICTE APPROVED | ISO 9001:2015</h6> 
  <ul class="nav nav-tabs">
  
    <li class="nav-item dropdown">
      <a class="nav-link active dropdown-toggle" href="#">HOME</a>
	      <ul class="dropdown-menu">
	        <li><a class="dropdown-item" href="#">About</a></li>
	        <li><a class="dropdown-item" href="#">Details</a></li>
	        <li><a class="dropdown-item" href="#">Creators</a></li>
	      	<li><a class="dropdown-item" href="#">Feedback</a></li>
	      </ul>
    </li>
    
    <li class="nav-item">
      <a class="nav-link"  href="/Research">RESEARCH</a>
    </li>
    
    <li class="nav-item">
      <a class="nav-link" href="/Projects">PROJECT</a>
    </li>
    
    <li class="nav-item">
      <a class="nav-link"  href="/internship">INTERNSHIP</a>
    </li>
    
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#">LOGIN</a>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="/signup">Register</a></li>
	<li><a class="dropdown-item" href="/signIn">Student Login</a></li>
        <li><a class="dropdown-item" href="/Adminlogin">Admin Login</a></li>
      </ul>
    </li>
    {{!-- <li class="nav-item">
      <a class="nav-link" href="/admin">Admin's Cabin</a>
    </li> --}}
  </ul>
</div>
</div>
</body>
</html>

<!-- dhigh -->