<!DOCTYPE html>
<html lang="en">
<head>
  <title>INTERNSHIP</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="input.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<div class="home">
<div class="container mt-3" >
  <h5>Society for Computer Technology and Research's</h5>
  <h2>PUNE INSTITUTE OF COMPUTER TECHNOLOGY</h2>
  <h6>AFFILIATED TO SPPU | AICTE APPROVED | ISO 9001:2015</h6> 
  <ul class="nav nav-tabs">
  
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="/">HOME</a>
	      <ul class="dropdown-menu">
	        <li><a class="dropdown-item" href="/trial">About</a></li>
	        <li><a class="dropdown-item" href="/trial">Details</a></li>
	        <li><a class="dropdown-item" href="/trial">Creators</a></li>
	      	<li><a class="dropdown-item" href="/trial">Feedback</a></li>
	      </ul>
    </li>
    
    <li class="nav-item">
      <a class="nav-link"  href="/Research">RESEARCH</a>
    </li>
    
    <li class="nav-item">
      <a class="nav-link"  href="/Projects">PROJECT</a>
    </li>
    
    <li class="nav-item">
      <a class="nav-link active" href="/internship">INTERNSHIP</a>
    </li>
    
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#">LOGIN</a>
      <ul class="dropdown-menu">
       <li><a class="dropdown-item" href="/signup">Register</a></li>
	<li><a class="dropdown-item" href="/signIn">Student Login</a></li>
        <li><a class="dropdown-item" href="/Adminlogin">Admin Login</a></li>
      </ul>
    </li>
    {{!-- <li class="nav-item">
      <a class="nav-link" href="/admin">Admin's Cabin</a>
    </li> --}}
  </ul>
</div>
</div>
<br>
<form action="/project_input" class="form1" role="search" >
<input type="text" name="projectid" placeholder="Project ID" required>
<input type="text" name="title" placeholder="Title" required>
<input type="text" name="mentor" placeholder="Mentor" required>
<input type="text" name="description" placeholder="Project Description" required>
<input type="text" name="sid" placeholder="Student Id "required>
<input type="text" name="domain" placeholder="Domain"required>

<br><br>
<button class="button">Submit</button>   
<input class="button" type="reset" value="Reset">
{{#if mesg}}
<h3>Data Inserted</h3>
{{/if}}
{{#if checkmesg}}
<h3>Project Id already Exist!!!</h3>
{{/if}}
</form>
</body>
</html>