<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIGN IN PAGE</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    
</head>
<body>
    <section class="header">
        <nav>
            <div class="nav-links" id="navLinks">
                <ul>
                    <li>
                        <a href="/signup">SIGN UP</a>
                    </li>
                    <li>
                        <a href="/">HOME</a>
                    </li>
                </ul>
            </div>	
        </nav>
    </section>
    <div class="signupFrm">
        <form action="/signIn" class="form">
          <h1 class="title">Login</h1>
    
          <div class="inputContainer">
            <input type="text" class="input" placeholder="a" name="registrationno" >
            <label for="" class="label">Registration Number</label>
          </div>
    
          <div class="inputContainer">
            <input type="text" class="input" placeholder="a" name="password">
            <label for="" class="label">Password</label>
          </div>
    
          <input type="submit" class="submitBtn" value="Sign in">
        </form>
      </div>

</body>
</html>